<h2>This templates engine tests main features of the thymeleaf post to js.</h2>

<h3>th:text</h3>
<p>Hello <span th:text="${username}">(username)</span>

<h3>th:text</h3>
You're using Thymeleaf for <strong th:utext="${language}">Language</strong>!  Wanna see some random fruit?</p>

<h3>th:each</h3>
<ul>
  <li th:each="product: ${fruits}">
    <div th:text="${product}">Oranges</div>
  </li>
</ul>

<h3>th:if</h3>
<div th:if="${shouldLearn}">You should learn thymeleaf</div>

<h3>th:unless (See <a href="https://github.com/ultraq/thymeleafjs/pull/25">pull request</a>)</h3>
<div th:unless="${shouldLearn}">You should not learn thymeleaf</div>

<!-- <h3>th:insert</h3>
<p>This wil place a <strong>div</strong> inside the <strong>aside</strong> tag</p>
<aside th:insert="~{footer :: copy}"></aside>

<h3>th:replace</h3>
<div th:replace="~{footer :: copy}">This is a replace</div>
 -->
<!-- <h3>th:attr</h3>
<img src="../../images/gtvglogo.png" th:attr="src=@{350x150.png},title=${logo},alt=${logo}" />
 -->
<h3>th:class</h3>
<div class="bar" th:class="foo">This is a th:classappend class should be foo</div>

<!-- <h3>th:classappend</h3>
<div class="bar" th:classappend="foo">This is a th:classappend class should be bar foo</div>

<h3>th:href</h3>
<a th:href="#yeah">This is a link to #yeah</a>

<h3>th:src</h3>
<img th:src="350x150.png" alt="This is the image again but wit the src th attribute">

<h3>th:value</h3>
<input type="text" th:value="${username}">

<h3>th:checked</h3>

<label th:if="${language}">
  <input type="checkbox" th:checked="${language}">You learned thymeleaf
</label>

 -->
